#header{
  background-color: #ffffff !important;
  color: #ff0000 !important;
  box-shadow: 0px 0px 3px 0px #ff0000;
}

#header a:link, #header a:visited {
  color: #09b9f3 !important;
  font-weight: bold !important;
}

#logout-form button {
  color: #ff0000 !important;
  font-weight: bold !important;
}

div.breadcrumbs{
  background-color: #18b5e9;
}

.module h2, .module caption, .inline-group h2{
  background-color: #c90505;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
  background-color: #09b9f3;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover{
  background-color: #16e859;
}

.button.default, input[type=submit].default, .submit-row input.default{
  background-color: #09b9f3;
}

.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover{
  background-color: #16e859;
}

a:link, a:visited{
  color: #059cce;
  font-weight: bold !important;
}